<?xml version='1.0' encoding='utf-8'?>
<widget xmlns="http://www.w3.org/ns/widgets" id="extensions:savepearlharbor-extension" version="1.0.1">
  <name>SavePearlHarbor</name>
  <description xml:lang="en">Sometimes provides access to publications on Habrahabr.ru, which it's  authors moved to drafts</description>
  <description xml:lang="ru">Иногда дает доступ к публикациям на Habrahabr.ru, которые авторы переместили в черновики</description>
  <author email="alexandr.zhuravlev@gmail.com">AZ</author>
  <icon src="icon.png" width="64" height="64"/>
  <preference name="autoRedirect" value="false"/>
</widget>
