<?xml version='1.0' encoding='utf-8'?>
<widget xmlns="http://www.w3.org/ns/widgets" id="https://addons.opera.com/extensions/details/savepearlharbor/" version="1.0.1" href="https://addons.opera.com/extensions/details/savepearlharbor/">
  <name>SavePearlHarbor</name>
  <author email="alexandr.zhuravlev@gmail.com">AZ</author>
  <icon src="icon.png" width="64" height="64"/>
  <preference name="autoRedirect" value="false"/>
  <update-description href="https://extension-updates.opera.com/api/w3c-wd1/update/3c901c0f-dca5-488d-acbc-2f7a585cb800/"/>
  <description xml:lang="en">Sometimes provides access to publications on Habrahabr.ru, which it's authors moved to drafts</description>
  <description xml:lang="ru">Иногда дает доступ к публикациям на Habrahabr.ru, которые авторы переместили в черновики</description>
</widget>
